# Running tests with tox for releasing new version

name: Pull requests fosslight_source_scanner

on:
  pull_request:
    branches:
      - '*'

jobs:
  check-commit-message:
    uses: fosslight/.github/.github/workflows/base-check-commit-message.yml@main
    secrets:
      envPAT: ${{ secrets.GITHUB_TOKEN }}

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Run Tox
      run: |
        tox -e release

  reuse:
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v3
    - name: REUSE Compliance Check
      uses: fsfe/reuse-action@v1
